<p id="notice"><%= notice %></p>

<h1 class="text-center">
  <strong><%= @collection.name %></strong>
</h1>

<p style="font-size: 18px">
  <%= link_to 'Editar', edit_collection_path(@collection) %> |
  <%= link_to 'Voltar', collections_path %>
</p>