<h1 style="font-weight: bold" class="text-center">Álbum <%= @album.title %></h1>

<div class="container border border-dark w-75 bg-light rounded">
  <h1 class="text-center">Itens</h1>

  <div style="padding-bottom: 4px" class="container w-50">
      <% @items.each do |item| %>
          <p class="text-center" style="font-size: 18px">
            <%= link_to item.title, collection_album_item_path(@collection, @album, item),
            class: 'link-dark' %>
          </p>
      <% end %>

      <br>
      <%= link_to 'Novo Item', new_collection_album_item_path, class: 'btn btn-link' %>
      <%= link_to 'Voltar ao Álbum', collection_album_path(@collection, @album),
      class: 'btn btn-primary' %>
  </div>
</div>